/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1 {
    font-size: clamp(2rem, 5vw, 3rem);
}

h2 {
    font-size: clamp(1.5rem, 4vw, 2.2rem);
}

p {
    font-size: clamp(0.95rem, 2.5vw, 1.1rem);
    line-height: 1.6;
}


/* DARK THEME */
body {
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: #e5e7eb;
    overflow-x: hidden;
}

a {
    color: #38bdf8;
    text-decoration: none;
}

/* NAVBAR */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: rgba(2, 6, 23, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1000;
}

.logo-text {
    font-size: 1.4rem;
    background: linear-gradient(90deg, #6366f1, #22d3ee);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    color: #e5e7eb;
    transition: 0.3s;
}

nav a:hover {
    color: #22d3ee;
}

/* HAMBURGER */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #e5e7eb;
    border-radius: 5px;
    transition: 0.3s;
}


/* HERO */
#home {
    min-height: 100vh;
    padding: 120px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}


.home-content h1 {
    font-size: 2.5rem;
}

.home-content h2 {
    font-size: 2.2rem;
    margin: 10px 0;
}

.home-content p {
    max-width: 450px;
    opacity: 0.8;
}

/* PROFILE IMAGE */
.image img {
    width: 500px;
    height: 420px;
    object-fit: cover;
    border-radius: 16px;
    animation: float 4s ease-in-out infinite;
}


@keyframes float {
    50% {
        transform: translateY(-15px);
    }
}

/* BUTTONS */
.buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.btn {
    padding: 12px 26px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s;
}

.primary {
    background: linear-gradient(90deg, #6366f1, #22d3ee);
    color: black;
    border: none;
}

.secondary {
    border: 1px solid #22d3ee;
}

.btn:hover {
    transform: scale(1.08);
}

/* SECTIONS */
section {
    padding: 100px 80px;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.section-desc {
    opacity: 0.7;
    max-width: 600px;
}

/* CARDS */
.cards,
.projects {
    margin-top: 40px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card,
.project-card {
    flex: 1;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    transition: 0.4s;
}

.card img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.project-card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.project-card h3 {
    margin-bottom: 5px;
}

.project-card p {
    margin-bottom: 3px;
}

.card:hover,
.project-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

/* CONTACT */
.contact-grid {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-top: 30px;
}

.contact-form {
    width: 100%;
}

.contact-info {
    justify-content: center;

}

.contact-info h2 {
    margin-bottom: 20px;
    padding: 10px;

}

.contact-info p {
    margin-bottom: 20px;
}




.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    margin-bottom: 15px;
    background: #020617;
    color: white;
}

textarea {
    resize: none;
    height: 120px;
}

/* SCROLL REVEAL */
.reveal {
    opacity: 0;
    transform: translateY(60px);
    transition: 0.9s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 1024px) {

    #home {
        flex-direction: column-reverse;
        text-align: center;
        padding: 120px 40px;
    }

    .cards,
    .projects,
    .contact-grid {
        flex-direction: column;
    }

    .image img {
        width: 260px;
        height: 260px;
    }

    section {
        padding: 100px 40px;
    }
}

@media (max-width: 480px) {

    .hamburger {
        display: flex;
        z-index: 1100;
    }


    nav {
        height: 64px;
        padding: 0 16px;
    }

    .logo-text {
        font-size: 1.2rem;
    }

    /* nav ul {
        display: none;
    } */

   nav ul {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 60%;
        background: rgba(2, 6, 23, 0.98);
        backdrop-filter: blur(12px);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;

        /* START HIDDEN (RIGHT SIDE) */
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;

        z-index: 1000;
    }

    nav ul.show {
        transform: translateY(0);
    }

    nav ul li a {
        font-size: 1.2rem;
    }

    #home {
        padding-top: 140px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .image {
        display: flex;
        justify-content: center;
    }

    .image img {
        width: 200px;
        height: 200px;
    }

    section {
        padding: 80px 20px;
    }
}