/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* DARK THEME */
body {
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: #e5e7eb;
    overflow-x: hidden;
}

a {
    color: #38bdf8;
    text-decoration: none;
}

/* NAVBAR */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: rgba(2,6,23,0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1000;
}

.logo-text {
    font-size: 1.4rem;
    background: linear-gradient(90deg, #6366f1, #22d3ee);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a:hover {
    color: #22d3ee;
}

/* HERO */
#home {
    min-height: 100vh;
    padding: 120px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-content h1 {
    font-size: 2.5rem;
}

.home-content h2 {
    font-size: 2.2rem;
    margin: 10px 0;
}

.home-content p {
    max-width: 450px;
    opacity: 0.8;
}

/* PROFILE IMAGE */
.image img {
    width: 420px;
    height: 420px;
    object-fit: cover;
    border-radius: 10%;
    /* border: 2px solid #22d3ee; */
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    50% { transform: translateY(-15px); }
}

/* BUTTONS */
.buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.btn {
    padding: 12px 26px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s;
}

.primary {
    background: linear-gradient(90deg, #6366f1, #22d3ee);
    color: black;
    border: none;
}

.secondary {
    border: 1px solid #22d3ee;
}

.btn:hover {
    transform: scale(1.08);
}

/* SECTIONS */
section {
    padding: 100px 80px;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.section-desc {
    opacity: 0.7;
    max-width: 600px;
}

/* CARDS */
.cards, .projects {
    margin-top: 40px;
    display: flex;
    gap: 30px;
}

.card, .project-card {
    flex: 1;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(12px);
    transition: 0.4s;
}

.card img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.project-card img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}
.project-card h3{
    margin-bottom:5px;
}
.project-card p{
    margin-bottom:3px;
}
.card:hover, .project-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

/* CONTACT */
.contact-grid {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
}

.contact-info{
    margin:10px;
    justify-content: center;
    
}  

.contact-info h2{
    margin:20px;
    padding:10px;

}
.contact-info p{
    margin-bottom:20px;
}




.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    margin-bottom: 15px;
    background: #020617;
    color: white;
}

textarea {
    resize: none;
    height: 120px;
}

/* SCROLL REVEAL */
.reveal {
    opacity: 0;
    transform: translateY(60px);
    transition: 0.9s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
